* {
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
}

body {
    background-color: #E9D5CA;
}

a {
    color: black;
}

/* index */

.contenedor {
    height: 455px;
    width: 50vw;
    margin: 15px auto;
}

.compra p {
    font-size: 2rem;
    background-color: #827397;
    color: #FFD9C0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.carousel {
    padding: 0;
    margin: 0;
}

.botones {
    text-align: center;
    color: white;
}

/* clientes */
.card {
    margin: 50px auto;
    text-align: center;
}

/* Nosotros */
.nosotros img {
    margin: 20px 40vw;
}

/* Contacto */

.container {
    margin: 50px auto;
}